aniso8601==9.0.1
annotated-types==0.6.0
anyio==4.3.0
attrs==23.2.0
blinker==1.7.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cheroot==10.0.0
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
Cython==3.0.10
dateparser==1.2.0
dnspython==2.6.1
fastapi==0.110.1
fastjsonschema==2.19.0
filelock==3.13.1
flasgger==0.9.7.1
Flask==3.0.0
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.10
flatbuffers==23.5.26
h11==0.14.0
idna==3.7
itsdangerous==2.1.2
jaraco.functools==4.0.0
Jinja2==3.1.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
lucit-licensing-python==1.8.2
MarkupSafe==2.1.5
mistune==3.0.2
more-itertools==10.2.0
packaging==24.0
passlib==1.7.4
prometheus_client==0.20.0
psutil==5.9.8
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.6.4
pydantic_core==2.16.3
pymongo==4.6.3
pyOpenSSL==24.1.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
rpds-py==0.18.0
service-identity==24.1.0
simplejson==3.19.2
six==1.16.0
sniffio==1.3.1
starlette==0.37.2
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
ujson==5.9.0
unicorn-binance-rest-api==2.2.0
unicorn-binance-websocket-api==2.1.4
unicorn-fy==0.13.1
Unidecode==1.3.8
update-checker==0.18.0
urllib3==2.0.7
uvicorn==0.29.0
watchfiles==0.21.0
websocket-client==1.7.0
websockets==10.4
Werkzeug==3.0.2
